:root {
  --pst-color-link: 103, 103, 230;
  --pst-font-size-h1: 32px;
  --pst-font-size-h2: 28px;
  --pst-font-size-h3: 24px;
  --pst-font-size-h4: 20px;
  --pst-font-size-h5: 18px;
  --pst-font-size-h6: 16px;
  --pst-sidebar-caption-font-size: 0.875em;
  --pst-sidebar-font-size: 0.875em;
}

body {
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  margin: 2.5rem 0 1rem;
}

p {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

pre {
  font-size: 0.875rem;
}

footer {
  padding: 0.75rem 0 0;
  margin-top: 1rem;
}

footer p {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

#site-navigation .navbar-brand-box {
  padding-top: 0;
}

#site-navigation h1.site-logo {
  color: var(--gray-dark);
  font-size: 0.875rem;
}

#site-navigation nav ul.nav li a,
#site-navigation nav ul.nav ul li a {
  line-height: 1.25rem;
}

#site-navigation div.navbar_extra_footer {
  font-size: 0.75rem;
}

#site-navigation #search-input {
  border-radius: 2px;
  font-size: 0.875rem;
}

.toc-entry {
  margin-bottom: 0.125rem;
}

.toc-entry a {
  line-height: 1.25rem;
}

